:root {
  --azulqualite: #338DCD;
  --verdequalite: #40C840;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.fondo-familia{
  background-attachment: fixed;
  background-image: url("../recursos/fondo-gafas1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}